<div>
    <h1>HOME - Bienvenido</h1>
    <h2>Productos</h2>
    <br>
    <div id="outputProd"></div>
    <br>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src='js/home.js'></script>
